<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Pagina principal

    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-card>
    <img alt="Silhouette of mountains" src="../../assets/logo.jpg" />
    <ion-card-header>
      <ion-card-title>Hcapie</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-list>
    <ion-item>
      <ion-text >
        <h3>Sirve Para</h3>
        <p class="ion-text-justify">Playa,balnearios y escenarios deportivos, unica novedosa y personalizada, ideal para promociones masivas que aseguran los efectos visuales requeridos para una excelente fijacion 
          o recordacion de marca de sus productos y se ajusta a los diferentes lugares de promocion existentes,Caracterizada por contener un cuerpo principal plegable, que mediante la union y conexion de una serie de complementos, puede transformarse e una sucesion de accesorios
          para uso persona y familiar  </p>

       

      </ion-text>
    </ion-item>
    <ion-item>
      <ion-text >
        <h3>Se convierete en </h3>
        <ul>
          <li>Bandera</li>
          <li>Poncho</li>
          <li>Bufanda</li>
          <li>Biombo</li>
          <li>Ula Ula</li>
          <li>Carpa</li>
        </ul>
      </ion-text>
    </ion-item>
  </ion-list>
</ion-content>